/**
 * Based on http://dbwebb.se/coachen/en-navbar-med-drop-down-meny-i-ren-html-och-css
 * Changed to only style li-items instead of a.
 */
#navbar {
  margin-bottom: 15px;
}

.navbar {
  background-color: #16528E;
  height: 30px;
  padding-left: 30px;
  padding-top: 0;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  color: #fff;
  position: relative;
  padding-right: 20px;
}

.navbar a {
  display: block;
  padding: 0.5em;
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
  font-size: 14px;

}

.navbar li:hover {
  color: #666;
  border-color: #666;
  background-color: #16528E;
}

.navbar li.selected-parent,
.navbar li.selected {
  color: #E54B4B;
  border-color: #222;
}

.navbar ul ul {
  padding: 2px 6px 2px 0;
  position: absolute;
  left: -9999px;
  z-index: 2;
  background-color: #E54B4B;
}

.navbar li li {
  width: 100%;
  border-top: none;
  border-left: 4px solid transparent;
}

.navbar li:hover ul {
  left: 0;
}

.navbar li li:hover {
  color: #666;
  border-color: #666;
}

.navbar li li.selected {
  color: #DE4C55;
  border-color: #DE4C55;
}
